<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bharti Vidhyapeeth Institute of Technology(Polytechnic)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bharti vidhyapeeth.css') }}">
</head>

<body>
    <header>
        <h1>Bharti Vidhyapeeth Institute of Technology(Polytechnic)</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>Bharati Vidhyapeeth is a leading institution dedicated to providing high-quality technical education.
            We are committed to nurturing young talents and helping them excel in their chosen fields. </p>
        <p>Bharati Vidyapeeth Institute of Technology is one of the premier Institutes in Diploma Engineering Education
            in Mumbai and Navi Mumbai. With the mission of its Founder Late Dr. Patangrao Kadam, to bring “Social
            Transformation through Dynamic Education”, and the goal of empowering young minds with technical knowledge
            and psychomotor skills, this Institute has reached the pinnacles of glory by pursuing excellence and setting
            pace in the arena of Technical Education since 1983. <br><br>

            BVIT is affiliated to the Maharashtra State Board of Technical Education and conducts courses approved by
            All India Council for Technical Education (AICTE), New Delhi. It fulfils all the norms and standards set by
            the AICTE as well as the Maharashtra State Board of Technical Education. It is the first Polytechnic in
            Mumbai to be accredited for all its courses by National Board of Accreditation (NBA) in the year 2012.
            <br><br>

            The Institute has an excellent infrastructure with well-equipped laboratories and Computer Centers in every
            department, a large spacious computerized library with a reading hall and seating capacity of 250, hostel
            for boys and girls. It also has a registered Alumni Association. <br><br>

            An Institution progresses when its mainstay, the student community prospers. So to ensure all round
            development of the students, BVIT organizes various student centric activities which provide eclectic
            learning opportunities to them and also a platform to showcase their talents.
        </p>
        <div class="vision-section">
            <h4 class="vision-title">Organization Vision:</h4>
            <p class="vision-description">We envision good human beings empowered with the wealth of technical knowledge
                which enables them to serve mankind at their best irrespective of culture, religion and country.</p>
        </div>

        <div class="mission-section">
            <h4 class="mission-title">Organization Mission:</h4>
            <p class="mission-description"> <strong>M1</strong> - To provide value based education and mould the
                character of younger
                generations, thus empowering them for a wholesome and lifelong journey. <br>

                <strong>M2 </strong> - To provide society with a professionally competent engineer, inquisitive
                researcher, compatible
                team leader and able administrator.
            </p>
        </div>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
        <h2 class="be">Bharati Vidhyapeeth Institute of Technology(Polytechnic)</h2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>visit</th>
                <th>Duration</th>
                <th>Intake</th>
            </tr>
            <tr>
                <td>Computer Technology</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/Computer-Technology" target="_blank">Learn More About Computer
                        Technology</a></td>
                <td>3 years</td>
                <td>180</td>
            </tr>
            <tr>
                <td>Civil Engineering</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/civil-engineering" target="_blank">Learn More About Civil
                        Engineering</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Electrical Engineering</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/electrical-engineering" target="_blank">Learn More About Electrical
                        Engineering</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Electronics Telecommunication</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/electronic-and-telecommunication" target="_blank">Learn More About Electronics
                        Telecommunication</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Information Technology<</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/information-technology" target="_blank">Learn More About Information
                        Technology</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Mechanical Engineering</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/mechanical-engineering" target="_blank">Learn More About Mechanical
                        Engineering</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Chemical Engineering</td>
                <td class="td1"><a
                        href="http://iotmumbai.bharatividyapeeth.edu/index.php/departments/chemical-engineering" target="_blank">Learn More About Chemical
                        Engineering</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
        </table>
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Bharti vidhiyapeeth Polytechnic, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates.</p>
        <a href="http://iotmumbai.bharatividyapeeth.edu/" target="_blank">Vist</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>

        <p> <strong> Location:</strong>Bharati Vidyapeeth Campus Road, Sector 7, CBD Belapur, Navi Mumbai,
            Maharashtra 410210.</p>
        <p> <strong> phone:</strong>022 2757 2434</p>
        <a class="gmail common"
            href="https://mail.google.com/mail/u/0/#inbox?compose=VpCqJZNPjRgsDgMZlbJxQhdBMZcFCVcVJtGcpRQXcpjGCwPbQxMphlFdmWdGDzfcRZQwZBG"target="_blank"
            class="icon"><i class="fas fa-envelope"></i></a>
        <a class="insta common" href="https://www.instagram.com/gpmumbai.ac.in/" target="blank" class="icon"><i
                class="fab fa-instagram"></i></a>
        <a class="facebook common" href="https://www.facebook.com/gpmumbai/" target="_blank" class="icon"><i
                class="fab fa-facebook"></i></a>
    </div>

    
      
</body>

</html>