<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agnel polytechnic Vashi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='father agnel.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Agnel polytechnic</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>Thirty one years ago when the <strong> Agnel Polytechnic </strong>was established in the town of Navi Mumbai
            it was one more
            step towards the realisation of the vision of our founder Rev . Fr.Conceicao Rodrigues . A vision to foster
            love and understanding among the various communities in India and also to contribute to development and
            self-reliance of this great country through technical education. The hard work, dedication and commitment of
            our staff and students under the able guidance of Rev.Fr. Orlando has turned this institute into one of the
            best private polytechnics affiliated to the Maharashtra State Board of Technical Education and accredited by
            the National Board of Accreditation, New Delhi

            So, our dear students,as I welcome you to this institute on behalf of agnel ashram fathers, I would like
            each one of you to remember that you are a unique individual who has the power to make a world of
            difference. As Walt Disney has said, “you can dream , create, design and build the most wonderful place in
            the world”,

            But it requires people to make the dreaming a reality. Our effort shall always be to provide you with a
            sound learning and doing environment, for we believe that talent can prosper only when it is recognised and
            appreciated. So,as the future makers of India, pursue excellence and aquire it by relentless training, frank
            feedback and constant self-improvement.One thing that can be said,irrespective of industry, is that it is a
            very competitive world you are going to work in,but I think our students today are far better equipped
            educationaly than those in the past. As Siddharth Ghosh says, it is not only academic ability that this
            world demands- but the world demands patience. It demands people who are open to learning and able to figure
            out how to make the best use of what they have learned over the years.It calls for a very high degree of
            professional commitment to whatever work they are doing.</p><br><br>
        <div class="vision-section">
            <h4 class="vision-title">Vision</h4>
            <p class="vision-description">To evolve and flourish as a progressive center for modern technical education,
                stirring in every student’s creativity, leading to entrepreneurship through holistic development,
                nurtured by the strength and legitimate pride of Indian values and the spirit of true service.</p>
        </div>

        <div class="mission-section">
            <h4 class="mission-title">Mission</h4>
            <p class="mission-description">
            <ul>
                <li type="dot">Providing industry oriented quality education and training</li> <br>
                <li type="dot">Providing a holistic environment for overall personal development. </li><br>
                <li type="dot">Bringing to full blossoming the potential in every student.</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.
        </p>
        <table>
            <tr>
                <th>Course Name</th>
                <th>visit</th>
                <th>Intake</th>
                <th>Duration</th>
            </tr>
            <tr>
                <td>Automobile Engineering</td>
                <td class="td1"><a href="https://apv.ac.in/automobile-engineering/" target="_blank">Learn More About
                        Automobile Engineering</a></td>
                <td>60</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Civil Engineering</td>
                <td class="td1"><a href="https://apv.ac.in/civil-engineering/" target="_blank">Learn More About Civil
                        Engineering</a></td>
                <td>60</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Artificial Intelligence & Machine Learning</td>
                <td class="td1"><a href="https://apv.ac.in/aiml/" target="_blank">Learn More About AI & ML</a></td>
                <td>60</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Electronics & Computer Engineering</td>
                <td class="td1"><a href="https://apv.ac.in/electronics-telecommunication-engineering/"
                        target="_blank">Learn More About Electronics & Computer Engineering</a></td>
                <td>60</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Mechanical Engineering</td>
                <td class="td1"><a href="https://apv.ac.in/mechanical-engineering/" target="_blank">Learn More About
                        Mechanical Engineering</a></td>
                <td>120</td>
                <td>3 years</td>
            </tr>
        </table>


    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Agnel polytechnic, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates.</p>
        <a href="https://apv.ac.in/admission-procedure/">visit</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <p>location: &nbsp; AGNEL TECHNICAL EDUCATION COMPLEX SECTOR -9A,VASHI,NAVI MUMBAI - 400703</p>
        <p>Phone: +91 22 27771000</p>
        <a class="gmail common"
            href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRmVGbzsLDwXpGbMBlxphHqsJMrwwDLznGXxLwXrqFvmGKPgkNGFqgRRSBrRtwjHmCFmqXG"
            target="_blank" class="icon"><i class="fas fa-envelope"></i></a>

        <a class="insta common" href="https://www.instagram.com/fatheragnelpolytechnic/" target="blank" class="icon"><i
                class="fab fa-instagram"></i></a>

        <a class="facebook common" href="https://www.facebook.com/profile.php?id=100065276178779" target="_blank"
            class="icon"><i class="fab fa-facebook"></i></a>

        <a class="linkedin common" href="https://www.linkedin.com/company/father-agnel-polytechnic/" target="blank"
            class="icon"><i class="fab fa-linkedin"></i></a>
    </div>
    
</body>

</html>