<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Goverment polytechnic Mumbai</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gpmumbai.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Goverment polytechnic Mumbai</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>Government Polytechnic Mumbai is an academically autonomous institute of Government of Maharashtra
            established in 1960, one of the oldest and prestigious institute in Mumbai region and in the state of
            Maharashtra. Institute got academic autonomy in the year 1994.

             Institute Had undertaken various Projects like World Bank Assisted Project, Canada India Industry Institute
            Linkage Project, Technical Education Quality Improvement Program Phase II, etc. Institute has very good
            liaison with industries.
            <br><br>
            Implementation of Central Government of India scheme for bringing the Persons With Disabilities (PWD) in the
            main stream of technical education and community development through the Polytechnic.

             From 2019, outcome based curriculum with sandwitch pattern is offered to students where in six months
            Inplant training is incorporated into the curriculum of all programmes.
        </p>

    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>Institute is offering 3 years of AICTE approved diploma sandwich pattern programme in following Branches.</p>
        <h3>Government Polytechnic Mumbai</h3>
        <table border="1">
            <tr>
              <th>Course Name</th>
              <th>Visit</th>
              <th>Total Seats</th>
              
            </tr>
            <tr>
              <td>Diploma in Civil Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/civil-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Computer Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/computer-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Electrical Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/electrical-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Electronics Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/electronics-and-tele/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Information Technology</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/information-technology/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Instrumentation Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/instrumentation-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Mechanical Engineering</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/mechanical-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Leather Technology</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/industrial-electronics/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Leather Goods and Footwear Technology</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/metallurgy-engineering/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Rubber Technology</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/departments/sugar-technology/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
            <tr>
              <td>Diploma in Artificial Intelligence and Machine Learning</td>
              <td class="td1"><a href="https://gpmumbai.ac.in/gpmweb/artificial-intelligence-and-machine-learning/" target="_blank">Learn More</a></td>
              <td>30</td>
            </tr>
          </table>
          
          
        <p>
            A unique Diploma program in Rubber Technology(Self Financed), is a joint venture between the institute and
            All India Rubber Industries Association (AIRIA), Started in 1999-2000 with 100% Placements every year.
        </p>
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining gp mumbai, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates.</p>
        <a href="https://gpmumbai.ac.in/gpmweb/"target="_blank">Vist</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <p>Government Polytechnic, Mumbai (An Autonomous Institute of Government of Maharashtra)
            49, Kherwadi, A.Y.Jung Marg,
            Bandra (East), Mumbai-400051.
        </p>
        <a class="gmail common"
            href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBnpqZZvbRqtGrCvngSdxTRPnhdJJWJBxQHTSSmTMCShtXcpNhFqhRhlMFrZGmDHQnTDRhT"target="_blank"
            class="icon"><i class="fas fa-envelope"></i></a>
        <a class="insta common" href="https://www.instagram.com/gpmumbai.ac.in/" target="blank" class="icon"><i
                class="fab fa-instagram"></i></a>
        <a class="facebook common" href="https://www.facebook.com/gpmumbai/" target="_blank" class="icon"><i
                class="fab fa-facebook"></i></a>
    </div>
    </body>

</html>