<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goverment polytechnic Thane </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gpthnane.css') }}">
</head>

<body>
    <header>
        <h1>Goverment polytechnic Thane</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>It’s a pleasure to welcome you to Government Polytechnic Thane (GPT). It is one of the oldest polytechnics in
            the Mumbai region, established in 1985. The institute belongs to the Government of Maharashtra and is under
            the governance of the Director of Technical Education, Mumbai (M.S), and approved by the All India Council
            for Technical Education (AICTE), New Delhi. The institute is affiliated with the Maharashtra State Board of
            Technical Education (MSBTE), Mumbai. <br><br>
            Further, it is a co-education institute responsible for imparting industry-responsive Diploma level programs
            in the field of engineering, and technology to the students admitted as per norms stipulated by the
            Government of Maharashtra. This institute is committed to being vibrant, keeping pace with technological
            development, and expecting to achieve excellence in imparting technical education to the students, who will
            be pillars of our nation. <br><br>

            The institute has excellent, highly qualified faculties and well-equipped laboratories. The Institute
            undertakes to reform exercises through Continuing Education Programs, Faculty Development Programs,
            Seminars, Workshops, Testing and Consultancy Services, etc. We at GPT are inspired by the vision of the
            institute to develop competent technical manpower to cater to the industrial and societal needs of India
            through effective curriculum implementation; Industrial interactions, and lifelong learning.
        </p>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
        <h3><strong>Diploma Programmes</strong></h3>
        <table border="1">
            <tr>
              <th>Course Name</th>
              <th>Visit</th>
              <th>Total Seats</th>
              <th>Duration</th>
            </tr>
            <tr>
              <td>Civil Engineering</td>
              <td class="td1"><a href="https://gpthane.org.in/civil-engineering/" target="_blank">Learn More</a></td>
              <td>120</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td>Mechanical Engineering</td>
              <td class="td1"><a href="https://gpthane.org.in/mechanical-engineering/" target="_blank">Learn More</a></td>
              <td>120</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td>Computer Engineering</td>
              <td class="td1"><a href="https://gpthane.org.in/computer-engineering/" target="_blank">Learn More</a></td>
              <td>60</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td>Information Technology</td>
              <td class="td1"><a href="https://gpthane.org.in/information-technology/" target="_blank">Learn More</a></td>
              <td>60</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td>Chemical Engineering</td>
              <td class="td1"><a href="https://gpthane.org.in/chemical-engineering/" target="_blank">Learn More</a></td>
              <td>60</td>
              <td>3 years</td>
            </tr>
            <tr>
              <td>Travel & Tourism</td>
              <td class="td1"><a href="https://gpthane.org.in/travel-tourism/" target="_blank">Learn More</a></td>
              <td>60</td>
              <td>3 years</td>
            </tr>
          </table>
          
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining gp thane, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates.</p>
        <a href="https://gpthane.org.in/"target="_blank">Vist</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p><strong> admission related information call us to </strong> <br> 8097215054/7666688677/9867993240 <br>   

            <strong>For GP Thane Related offical work contact to </strong> <br>9869380887 (From 9:45 am to 5:45 pm . excluding Government
            holidays) <br><strong>Ms. Sangita Chavhan Incharge Registrar</strong></p>
        <a class="gmail common"
            href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvkZCWZxNFPMcfLpTgTTJLBJdpcMSSktNFNsjRTPhsbKpsKNGGKxTdKDFZThvdJWqRZvkg" target="_blank"
            class="icon"><i class="fas fa-envelope"></i></a>
        <a class="linkedin common" href="https://www.linkedin.com/in/gp-thane-b2722b111/?originalSubdomain=in" target="blank" class="icon"><i
                class="fab fa-linkedin"></i></a>
        <a class="facebook common" href="https://www.facebook.com/GovernmentPolytechnicThane/" target="_blank" class="icon"><i
                class="fab fa-facebook"></i></a>
    </div>
</body>

</html>