<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalsekar polytechnic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kalsekar.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to A.R Kalsekar polytechnic</h1>
    </header>
    
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>Anjuman Islam's Kalsekar Polytechnique is a leading institution dedicated to providing high-quality technical
            education. We are committed to nurturing young talents and helping them excel in their chosen fields.
            <br><br>
            Anjuman-I-Islam’s A. R. Kalsekar Polytechnic (AIARKP), established in 2002 is managed by the prestigious
            Anjuman-I-Islam Trust. The Campus is fast becoming a hi-tech bustling Campus with the introduction of Degree
            Level Institutions under A.I.’s Kalsekar Technical Campus (AIKTC).
        </p>
        <div class="vision-section">
            <h4 class="vision-title">Vision</h4>
            <p class="vision-description">To be the most sought after Polytechnic that others would wish to emulate.</p>
        </div>

        <div class="mission-section">
            <h4 class="mission-title">Mission</h4>
            <p class="mission-description">Creating Exuberant Technical Professionals.</p>
        </div>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
        <h2>Kalsekar Polytechnic Courses</h2>
        <table border="1">
            <tr>
              <th>Course Name</th>
              <th>Visit</th>
              <th>Duration</th>
              <th>Intake</th>
            </tr>
            <tr>
              <td>Computer Engineering</td>
              <td class="td1"><a href="https://aiarkp.ac.in/computer-engineering/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>120</td>
            </tr>
            <tr>
              <td>Artificial Intelligence & Machine Learning Engineering</td>
              <td class="td1"><a href="https://aiarkp.ac.in/aiml/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Mechanical Engineering</td>
              <td class="td1"><a href="https://aiarkp.ac.in/mechanical-engineering/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>90</td>
            </tr>
            <tr>
              <td>Mechatronics</td>
              <td class="td1"><a href="https://aiarkp.ac.in/mechatronics-engineering/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Civil Engineering</td>
              <td class="td1"><a href="https://aiarkp.ac.in/civil-engineering/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Automation & Robotics</td>
              <td class="td1"><a href="https://aiarkp.ac.in/robotics-automation-engineering/" target="_blank">Learn More</a></td>
              <td>3 years</td>
              <td>60</td>
            </tr>
          </table>
          
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Kalsekar polytechnic, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates. <br><br>
            For More Information You Can Visit Collage's Official Website <br>
        </p> 
        <a href="https://aiarkp.ac.in/" target="_blank">Visit</a>

    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <a class="insta common" href="https://www.instagram.com/abdulrazzakkalsekarpolytechnic/" target="_blank" class="icon"><i class="fab fa-instagram"></i></a>
        <a class="facebook common" href="https://www.facebook.com/A.R.KALSEKAR.POLYTECHNIC/" target="_blank" class="icon"><i class="fab fa-facebook"></i></a>
        <a class="youtube common" href="https://www.youtube.com/@abdulrazakkalsekarpolytech7272/videos" target="_blank" class="icon"><i class="fab fa-youtube"></i></a><br>
        <a class="whatsapp common" href="#"><i class="fab fa-whatsapp"></i></a><label for="no"> +91 7387353278, +91 7387553278</label>
    </div>
    
</body>

</html>