<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalsekar Polytechnic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='kjsomaya.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to KJ Somaiya polytechnic</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>K.J. Somaiya Polytechnic is an Autonomous Grant-in-Aid Polytechnic of Government of Maharashtra. Institute
            was established in the year 1963 with Diploma Programmes in Civil, Electrical & Mechanical Engineering with
            an intake of 40 each. In the year 1966, the intake for these Courses was changed from 40 to 60. To cater the
            need of employed technicians, Institute started Part-Time Diploma Programmes in Electrical and Mechanical
            Engineering with intake of 40 and 60 respectively. Full-Time Diploma in Industrial Electronics started in
            1994 with intake of 30 and Part-Time Diploma in Industrial Electronics in 2001. In 2006, under Un-Aided
            Section, Institute started Diploma in Computer Engineering with an intake of 60. <br><br>


            In 1994, Government of Maharashtra as granted Academic Autonomy to the Institute. Curriculum of All Diploma
            Programmes is regularly revised based on requirements of Industry, Inputs from Alumni, Parents and other
            stake holders. All Diploma Programmes have equivalence from Maharashtra State Board of Technical Education,
            M.S. <br><br>


            All Aided Diploma Programmes were accredited in 2005 with Civil, Electrical and Mechanical accredited for 5
            years and Industrial Electronics with 3 years. Institute has applied for reaccreditation to NBA AICTE.
            <br><br>


            Institute focuses on overall development of student. Good infrastructure, Sports facilities, Good
            laboratories are created for student activities and learning. Most of the activities relating to students
            are computerized and students can get information directly on website or through their somaiya.edu email
            ID’s. <br><br>


            Hence, K.J. Somaiya Polytechnic always strives to provide quality education and ensure overall development
            of student..
        </p>
        <div class="vision-section">
            <h4 class="vision-title">Vision</h4>
            <p class="vision-description">K. J. Somaiya Polytechnic will become Centre of Excellence and be dedicated to
                provide competent, ethically balanced Diploma Engineers.</p>

            <div class="mission-section">
                <h4 class="mission-title">Mission</h4>
                <p class="mission-description">
                <ul>
                    <li type="dot">Overall development of students inculcating in them the ethics and value system.</li>
                    <br>
                    <li type="dot">Being the choice of students, parents and employers in India for Diploma Education.
                    </li><br>
                    <li type="dot">Maintaining best infrastructure for developing knowledge and skills.</li><br>
                    <li type="dot">Continuously updating and reviewing the curricula benefiting industry, students,
                        society for technological development of the country</li> <br>
                    <li type="dot">Promoting innovative attitude among the faculty and students.</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and
            more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
        <table border="1">
            <tr>
                <th>Course Name</th>
                <th>Visit</th>
                <th>Duration</th>
                <th>Intake</th>
            </tr>
            <tr>
                <td>Civil Engineering Department</td>
                <td class="td1"><a
                        href="https://polytechnic.somaiya.edu.in/polytechnic/academic/department/49/civil_engineering#about"
                        target="_blank">Learn More</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Computer Engineering Department</td>
                <td class="td1"><a
                        href="https://polytechnic.somaiya.edu.in/polytechnic/academic/department/21/computer_engineering#about"
                        target="_blank">Learn More</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Electrical Engineering Department</td>
                <td class="td1"><a
                        href="https://polytechnic.somaiya.edu.in/polytechnic/academic/department/50/electrical_engineering#about"
                        target="_blank">Learn More</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Mechanical Engineering Department</td>
                <td class="td1"><a
                        href="https://polytechnic.somaiya.edu.in/polytechnic/academic/department/17/mechanical_engineering#about"
                        target="_blank">Learn More</a></td>
                <td>3 years</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Industrial Electronics Department</td>
                <td class="td1"><a
                        href="https://polytechnic.somaiya.edu.in/polytechnic/academic/department/51/industrial_electronics#about"
                        target="_blank">Learn More</a></td>
                <td>3 years</td>
                <td>30</td>
            </tr>
        </table>

    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Kj somaiya polytechnic, please visit our Admission page for
            information on eligibility criteria, application procedures, and important dates.</p>
        <a href="https://polytechnic.somaiya.edu.in/polytechnic" target="_blank">Visit</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <p><label for="phone">Phone no:</label>02221023443</p>
        <p><label for="locate">Location:&nbsp;</label>Vidyanagar, VidyaVihar East, Near Somaiya Running Track, Mumbai, Maharashtra 400077</p>
        <a class="insta common" href="https://www.instagram.com/somaiyatrust/" target="_blank"><i
                class="fab fa-instagram"></i></a>
        <a class="facebook common" href="https://www.facebook.com/SomaiyaTrust/" target="_blank"><i
                class="fab fa-facebook"></i></a>
        <a class="youtube common" href="https://www.youtube.com/somaiyavidyavihar" target="_blank"><i
                class="fab fa-youtube"></i></a>
        <a class="twitter common" href="https://twitter.com/SomaiyaTrust" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" height="0.9em"
            viewBox="0 0 512 512">
            <path
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
        </svg></a>
    </div>
    </body>

</html>