<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pillai HOC Polytechnic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pillai.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Pillai Hoc Polytechnic</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p><strong>Pillai Hoc College of Engineering and Technology </strong>– Diploma Section is approved by the All
            India Council for
            Technical Education (AICTE) and the Directorate of Technical Education (DTE); recognised by the Government
            of Maharashtra; and affiliated to the Maharashtra State Board of Technical Education (MSBTE).
            Pillai HOC College of Engineering and Technology – Diploma Section is a front runner in the field of
            technical education in and around Rasayani and Navi Mumbai. It has grown by leaps and bounds within a small
            period of time since its inception in the year 2009. Our result speaks in volumes. It imparts holistic
            knowledge and put emphasis on overall development of a student. Here the students are not merely taught but
            they are nurtured with good ethos and ethics. Campus is well-equipped with the state-of-the-art facilities
            and infrastructure with Wi-Fi enabled campus, stack with numerous books available on each and every subject
            with digital library and separate reading / discussion rooms. <br><br>
            The lush green and leafy campus amidst the flora and fauna, with adjoining a dedicated sports ground add to
            its charm. Besides academic rigor, the importance is given on extracurricular activities organized at
            institute level and students are encouraged to participate in various state and intra college level
            competitions. To hone the skills on soft skills, debating, elocution and personality development events are
            organized on regular basis. To unleash the potential and hidden talent of a student a readymade platform is
            made available to showcase their personality traits through singing, dancing and dramatic activities which
            take place at every cultural event. <br><br>

            College also provides bus facility from Panvel, Khanda Colony, Khopoli, Uran, Pen, Karjat, Kalamboli,
            Kamothe and Alibag. The college timings are 9:00 a.m. to 4:45 p.m.
        </p> <br><br>
        <div class="vision-section">
            <h4 class="vision-title">Vision</h4>
            <p class="vision-description">To develop professional engineers with respect for the environment and make
                them responsible citizens in technological development both from an Indian and Global perspective. This
                objective is fulfilled through quality education, practical training and interaction with industries and
                social organizations.</p>
        </div>

        <div class="mission-section">
            <h4 class="mission-title">Mission</h4>
            <p class="mission-description">Pillai HOC College of Engineering and Technology – Diploma Section will
                educate and train Engineering Diploma, a diverse population of students who are academically prepared to
                benefit from the Institute’s infrastructure and experience, to become responsible professionals in
                technical arena. It will further attract, develop and retain dedicated, excellent teachers, scholars and
                professionals from diverse backgrounds whose work gives them visibility beyond the classroom and who are
                committed to making a significant difference in the lives of their students and the community.</p>
        </div>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
            <table border="1">
                <tr>
                  <th>Course Name</th>
                  <th>Visit</th>
                  <th>Duration</th>
                  <th>Intake</th>
                </tr>
                <tr>
                  <td>Civil Engineering</td>
                  <td class="td1"><a href="https://phcp.ac.in/departments/civil-engineering/program-overview/" target="_blank">Learn More</a></td>
                  <td>3 years</td>
                  <td>120</td>
                </tr>
                <tr>
                  <td>Mechanical Engineering</td>
                  <td class="td1"><a href="https://phcp.ac.in/departments/mechanical-engineering/program-overview/" target="_blank">Learn More</a></td>
                  <td>3 years</td>
                  <td>120</td>
                </tr>
                <tr>
                  <td>Computer Engineering</td>
                  <td class="td1"><a href="https://phcp.ac.in/departments/computer-engineering/program-overview/" target="_blank">Learn More</a></td>
                  <td>3 years</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>Information Technology Engineering</td>
                  <td class="td1"><a href="https://phcp.ac.in/departments/information-technology-engineering/program-overview/" target="_blank">Learn More</a></td>
                  <td>3 years</td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>Electronics and Telecommunication Engineering</td>
                  <td class="td1"><a href="https://phcp.ac.in/departments/electronics-and-telecommunication-engineering/program-overview/" target="_blank">Learn More</a></td>
                  <td>3 years</td>
                  <td>60</td>
                </tr>
              </table>
              
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Pillai Hoc Polytechnic,And Admission In First Year of Post SSC Diploma
            Courses in Engineering and Technology for Academic Year 2023-24 <br>
            And Admission to Direct Second Year of Diploma Courses in Engineering and Technology for Academic Year
            2023-24</p>
        <a href="https://phcp.ac.in/admission/admission-eligibility-process/" target="_blank">Visit</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <p><strong>Pillai HOC College of Engineering and Technology</strong> – Diploma Section
                Via Panvel (Navi Mumbai), Rasayani, Taluka Khalapur, Dist. Raigad, 410207</p>
        <a class="gmail common"
            href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWstsBnJxzqCcwSSbGrSHjCSzRspqVlNfTQnmWzfGCwzFDmTVcrztmwFKGzKTTNKQNkWqVpZg"
            target="_blank" class="icon"><i class="fas fa-envelope  "></i></a>
        <a class="insta common" href="https://www.instagram.com/pillaihoccollege/?hl=en" target="blank" class="icon"><i
                class="fab fa-instagram"></i></a>
        <a class="facebook common" href="https://www.facebook.com/pillaihoccollege/" target="_blank" class="icon"><i
                class="fab fa-facebook"></i></a> <br>
        <a class="whatsapp common" href="#"><i class="fab fa-whatsapp"></i></a><label for="no">8928963440</label>
    </div>
</body>

</html>