<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thakur polytechnic</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='thakur.css') }}">
</head>

<body>
    <header>
        <h1>Welcome to Thakur Polytechnic</h1>
    </header>
    <div class="container" id="about">
        <h2>About Us</h2>
        <p>Thakur Polytechnic is affiliated to the Maharashtra State Board of Technical Education (MSBTE) and conduct
            courses approved by the All India Council for Technical Education (AICTE), New Delhi and recognized by Govt.
            of Maharashtra. It fulfils all the norms and standards set by the AICTE as well as the Maharashtra State
            Board of Technical Education. The Polytechnic was accorded approval by AICTE vide their letter no
            F-740-80-819-(F)/FT/98 dtd. 24th July 1998. Tpoly is a Hindi Linguistic Minority Institute. <br><br>

            Thakur Polytechnic (Tpoly) was established in the year 1998. It is primarily to cater to the need of
            students desirous of pursuing technical education after the Secondary School Certificate examination. It
            provides the best infrastructure facilities inched by equally competent teaching faculty and a right
            academic ambience to make learning a delight full experience. <br><br>

            As reflected in mission statement the Tpoly has set upon itself a responsibility of providing quality
            technical education comparable to international standards and preparing students with vocational excellence.
            To meet the quality assurance requirement, institute has opted for ISO 9001:2015 from BSI (British Standard
            Institution). <br><br>

            Thakur Polytechnic was accredited by National Board of Accreditation (NBA), New Delhi with effect from
            15-03-2012 for three years for Mechanical Engineering, Electronics & Telecommunication Engineering &
            Electronics Engineering. The Institute has second time for Five courses i.e. Mechanical Engineering,
            Electronics & Telecommunication Engineering, Electronics Engineering, Computer Engineering & Information
            Technology for three years from 01-06-2017 upto 30-06- 2020 Third time for Four courses Mechanical
            Engineering, Electronics & Telecommunication Engineering, Computer Engineering & Information Technology for
            Academic Years 2020-2021 to 2022-2023 Le upto 30-06-2023. <br><br>

            Thakur Polytechnic has been conferred with the ISTE (Indian Society for Technical Education) Narsee Monjee
            Best Overall Performance Polytechnic award for Western Region in a ceremony held at the 47th ISTE National
            Annual convention Saintgits College of Engineering, Kottayam, Kerala on 27th January 2018 <br><br>

            Dr. S.M. Ganechari, Principal, Thakur Polytechnic was conferred the ISTE Ranganathan Engineering College
            National Award for being the Best Polytechnic Principal by the Hon'ble Goa Chief Minister Shri Pramod Samunt
            at the ISTE National Awards 2021

        </p>
    </div>
    <div class="container" id="courses">
        <h2>Courses Offered</h2>
        <p>We offer a wide range of courses in various disciplines, including engineering, computer science, and more.
            Our programs are designed to prepare students for a successful career in the industry.</p>
            <table>
                <tr>
                  <th>Course Name</th>
                  <th>Intake</th>
                  <th>Duration</th>
                </tr>
                <tr>
                  <td>Mechanical Engineering</td>
                  <td>60</td>
                  <td>3 years</td>
                </tr>
                <tr>
                  <td>Computer Engineering</td>
                  <td>180</td>
                  <td>3 years</td>
                </tr>
                <tr>
                  <td>Electronics and Telecommunication Engineering</td>
                  <td>60</td>
                  <td>3 years</td>
                </tr>
                <tr>
                  <td>Information Technology</td>
                  <td>60</td>
                  <td>3 years</td>
                </tr>
                <tr>
                  <td>Civil Engineering</td>
                  <td>60</td>
                  <td>3 years</td>
                </tr>
              </table>
              
              
    </div>
    <div class="container" id="admission">
        <h2>Admission</h2>
        <p>If you're interested in joining Thakur polytechnic, please visit our Admission page for information on
            eligibility criteria, application procedures, and important dates.</p>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <a href="https://www.tpolymumbai.in/admissions_brochure/#p=4" target="_blank">Visit</a>
    </div>
    <div class="container" id="contact">
        <h2>Contact Us</h2>
        <p>For any inquiries or to get in touch with us, please use the following contact information:</p>
        <p><label for="locate">Location:&nbsp;</label>ZSCT's Thakur Polytechnic,
            Thakur Complex,West to Western Express Highway, Kandivali (E), Mumbai - 400 101.</p>
            <p>Phone:  022-28543540 / 28542481 / 28547707</p>
    <a class="gmail common"
        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqXzCvrzjZRfpqhFCjPtjKDTTVpQlWdlRcXqDGpGHDHftVdzXKjZgMPwZxpCnXJtKjJLsq"
        target="_blank" class="icon"><i class="fas fa-envelope  "></i></a>
    <a class="insta common" href="https://www.instagram.com/thakurpoly/" target="blank" class="icon"><i
            class="fab fa-instagram"></i></a>
    <a class="facebook common" href="https://www.facebook.com/tpolymumbai" target="_blank" class="icon"><i
            class="fab fa-facebook"></i></a>
    <a class="whatsapp common" href="https://api.whatsapp.com/message/5ZLCBKTCOQB2B1?autoload=1&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a class="linkedin common" href="https://www.linkedin.com/company/thakur-polytechnic-college-mumbai/" target="blank"
            class="icon"><i class="fab fa-linkedin"></i></a>
    </div>
    
</body>

</html>